    <table class="table table-striped">
      <tr> <td>Vooraf</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>09:00 - 09:30</td>  <td>Inloop</td> </tr>
      <tr> <td>10:50 - 11:00</td>  <td>Korte pauze</td> </tr>
      <tr> <td>13:00 - 13:45</td>  <td>Lunch</td> </tr>
      <tr> <td>15:00 - 15:10</td>  <td>Korte pauze</td> </tr>
      <tr> <td>16:15 - 16:30</td>  <td>Afronden</td> </tr>
    </table>
